    
    html {
    font-family: 'Raleway', sans-serif;
    background: url(Images/rainbow.jpg) no-repeat center center fixed; 
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%; 
}

body {
    max-width: 100%;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: mediumvioletred;
    display: flex;
    margin: .5%;
    padding: 1%;
}

h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    color: whitesmoke;
    margin: .5%;
}

.sub-heading:hover {
    text-shadow: 0.12em 0.12em whitesmoke;
    transform: scale(1.2); 
}
.main-heading {
    text-shadow: 3px 3px whitesmoke;
    padding-left: 25%;
}
.sub-heading {
    padding-left: 25%;
    color: mediumvioletred;
}
nav {
    margin: 8px;
    padding-top: 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;  
}

a {
    color: grey;
    text-decoration: none;
    padding: 4px;
    font-family: 'Fira Code', monospace;  /* Matrix Looking Font  */
    font-size: 1.5rem;
    font-weight: bold;
}

a:hover {
    color: white;
    background-color: aquamarine;
    opacity: 0.8;
}

img {
    width: 100%;
    max-height: 100%;
    border-radius: 18px;
}

.img-round {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    padding: 5%;
    display: flex;
    justify-content: center;
}

#jess {
    width: 70%;
    max-height: 70%;
}
.bio {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5rem;
    margin-left: .5%;
}

p {
        color: black;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1.5rem;
        text-align: center;
        line-height: 1em;
}
button {
    background-color: pink;
    border: none;
    color: #fff;
    width: 80%;
    margin: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
    font-family: 'Fira Code', monospace;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
}
.button-1 {
    
    display:flex;
    justify-content: center;
    background-color: pink;
    border-radius: 15px;
    width: 25%;
    margin-top: 3%;
}

.but-1 {
    color: white;
    display: flex;
    justify-content: center;
    padding: 1%;
}

.contact-message{
    display: flex;
    justify-content:center;
    width: auto;
}

.but-1:hover, button:hover {
    color: grey;
}
/* into page... section 1 is the main DIV */
.section-1 {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    height: 100vh;
}

.profile-img {
    display: flex;
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.section-2 {
    background-color: rgba(127, 255, 212, 0.507);
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0px auto;  
}
.text-1 {
    font-weight: 800;
}

.text-2 {
    font-weight: 400;
    text-align: left;
}

.section-aboutme {
    background-color: rgba(255, 182, 193, 0.521);
    display: flex;
    flex-direction: row;
    width: auto;
    /* height: 100vh; */
}

.me {
    width:48%;
    display: flex;
    justify-content: center;
    text-align: center;
}
/* this section is the language icons at the bottom */
.section-3 {     
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;  
}
#linkedin-logo {
    width: 30px;
    height: 30px;
    border-radius: 1px;
    
}

.icons {
    padding: 8px;
    height:60px;
    width:80px;
    opacity: 70%;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
}

.folio {
    width: 30%;
    padding: 3%;
}


/* Contact Details Page*/

form {
    background-color: rgba(216, 191, 216, 0.493);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 60%;
    padding: 3%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 18px;
    margin-top: 5%;
    margin-bottom: 5%;
}

label {
    font-weight: bold;
    color: #5e7992;
    padding-left: 15px;
    width: 15%;
}
    
input,textarea {
    box-sizing: border-box;
    border: 1px solid grey;
    margin: 12px;
    padding: 12px;
    border-radius: 15px;
    box-shadow:inset 0 0 1.5px 1.5px whitesmoke;
    background: rgb(243, 240, 240);
    font-size: 1rem;
    width: 100%; 
}

.form-item {
    display:flex;
    justify-content: center;
    width: 100%;
    
}
/* about me section */

.about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.text-3 {
    font-weight: 500;
    padding: 5%;
    margin: none;
    text-align: left;
}

.jess {
    display: flex;
    justify-content: center;
    padding: 30%;
}

/* contact details form - main page  */
.contactform {
    background-color: rgba(216, 191, 216, 0.397);
    display: flex;
    flex-direction: column;
    width: auto;
    padding-top: 10px; 
    padding-bottom: 5%;
}

.footer {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}
.back-to-top {
    position: fixed;
    bottom: 50px;
    right: 25px;
    background-color: rgb(104, 217, 255, 0.4);
    padding: 15px;
    border-radius: 0.75rem;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
}

/* This section is on the contact details page */
.section-4 {
    display: flex;
    flex-direction: column;
    width: auto;
    text-align: center;
    padding: 1%;  
    margin-top: 4%;
}

/* MEDIA QUERIES */

@media screen and (max-width:992px) {
    .section-1,.contactform,.section-2, .row, .section-aboutme {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: none;
    }
    a {
        padding: 15px;
    }

    .intro {
        padding-top: 2%;
    }
    
    .sub-heading {
        padding-left: 2%; 
        padding-right: 2%;
        font-size: 3rem;
        text-align: center;
    }
    .main-heading {
        text-shadow: 3px 3px whitesmoke;
        font-size: 2rem;
        justify-content: center ;
        padding-left: 2%;
    }
    .folio {
        width: 85%;
    }
p {
        text-align: center;
        font-size: 1.5rem;
    }
.me {
        width: 85%;
        padding-top: 3%;
        display: flex;
        justify-content: center;
    }
h2 {
        justify-content: flex-start;
        padding-top: 3%;
    }
div {
        width: 95%;
    }
p.text-3 {
        margin: none;
    }
.button-1 {
        width: 25%;
    }

form {
    width:auto;
}

}
    

@media screen and (max-width:600px) {

.section-1,.contactform,.section-2, .row, .section-aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: none;
}
a {
        padding: 15px;
    }
.folio {
        width: 85%;
    }
.sub-heading {
        padding-left: 2%; 
        padding-right: 2%;
        font-size: 3rem;
        text-align: center;
    }
.main-heading {
        text-shadow: 3px 3px whitesmoke;
        padding-left: 2%;
        padding-right: 2%;
        font-size: 2rem;
        justify-content: center;
    }
p {
        text-align: center;
        font-size: 1.5rem;
    }
.me {
        width: 85%;
        padding-top: 3%;
        display: flex;
        justify-content: center;
    }
h2 {
        justify-content: flex-start;
        padding-top: 3%;
    }
div {
        width: 95%;
    }
p.text-3 {
        margin: none;
    }
.button-1 {
        width: 25%;
    }
a {
    font-size: 1rem;
    padding: 3px;
}

form {
    width:auto;
}

}


