/* * {
    border:1px solid fuchsia; 
}  */
html {
    font-family: 'Raleway', sans-serif;
    background: url(images/rainbow.jpg) no-repeat center center fixed;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    margin: 0;
    
}


h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    color: black;
    display: flex;
    margin: .5%;


}

h2 {
    font-size: 3rem;
    line-height: 3rem;
    color: black;
    margin: .5%;
}

nav {
    margin: 10px;
    padding-top: 10px;
    display:flex;
    justify-content: flex-end;
    /* width: 95%; */
    
}

a {
    color: grey;
    text-decoration: none;
    padding: 5px;
    font-family: 'Fira Code', monospace;  /* Matrix Looking Font  */
    font-size: 1.5rem;
    font-weight: bold;
}

a:hover {
    color: white
}

img {
    width: 100%;
    max-height: 100%;
}

.img-round {
    width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.bio {
    color: white
    font-size 2rem;
    font-weight: bold;
    line-height: 1.5rem;
    margin-left: .5%;
}

p {
        color: white
        font-size 2rem;
        font-weight: bold;
        line-height: 1.5rem;
}

.intro {
    font-family: 'Fira Code', monospace;
    font-weight: bold;
    font-size: 1rem;
    padding-top: 10%;
}

button {
    background-color: pink;
    border: none;
    color: #fff;
    width: 30%;
    margin: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
    font-family: 'Fira Code', monospace;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
}
.button-1 {
    
    display:flex;
    background-color: pink;
    border-radius: 15px;
    width: 15%;
    padding: none;  
}

.but-1 {
    color: white;
    display: flex;
    padding: 1%;
}

.but-1:hover, button:hover {
    color: grey;
}

.section-1 {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    padding-left: 10%;
    
}

.section-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    padding: 10px;
    
}

.section-3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    padding: 10px;
    
}


/* Contact Details Page*/

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 8%;
    padding-bottom: 30px;
    
}

label {
    font-weight: bold;
    color: #5e7992;
    padding-left: 15px;
}
    
input,textarea {
    box-sizing: border-box;
    border: 1px solid grey;
    margin: 12px;
    padding: 10px;
    border-radius: 15px;
    box-shadow:inset 0 0 1.5px 1.5px #888;
    background: rgb(243, 240, 240);
    font-size: 1rem;
    width: 100%; 
    
}

.form-item {
    display:flex;
    width: 50%;
    padding-left: 5px;
    padding-right: 5px;
}

#linkedin-logo {
    width: 30px;
    height: 30px;
}

.icons {
    padding: 8px;
    height:100px;
    width:100px;
    opacity: 70%;
}

.row {
    display: flex;
}

.folio {
    width: 25%;
    padding: 5%;
}

.buffer {
    padding: 5%;
    display: flex;
}